.create-group-wrap {
  width: 800px;
}
.create-group-top {
  display: flex;
  justify-content: space-around;
}
.create-group-wrap-image {
  text-align: center;
}
.group-image-wrap {
  width: 320px;
  height: 200px;
}
.image-button-wrap {
  margin-top: 8px;
}
.file-input {
  display: none;
}
.account-info-wrap {
  width: 350px;
  padding: 32px 0;
}
.account-item-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-item-wrap + .account-item-wrap {
  margin-top: 8px;
}

/* 인풋 */
.create-group-form-input {
  width: 95%;
  height: 40px;
  padding: 6px 12px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.create-group-form-input:focus {
  border: 1px solid rgb(243, 156, 18);
}
.create-group-form-input-medium {
  width: 170px;
  height: 40px;
  padding: 6px 12px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.create-group-form-input-medium:focus {
  border: 1px solid rgb(243, 156, 18);
}
.create-group-form-input-small {
  width: 80px;
  height: 40px;
  padding: 6px 12px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.create-group-form-input-small:focus {
  border: 1px solid rgb(243, 156, 18);
}

/* 버튼 */

.small-button {
  display: inline-flex;
  align-items: center;
  height: 26px;
  padding: 4px 8px;
  background-color: rgb(243, 156, 18);
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.small-button:hover {
  background-color: rgb(251, 174, 51);
}
.small-button:active {
  background-color: rgb(214, 132, 0);
}
.create-group-form-button {
  height: 40px;
  padding: 4px 8px;
  background-color: rgb(243, 156, 18);
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.create-group-form-button:hover {
  background-color: rgb(251, 174, 51);
}
.create-group-form-button:active {
  background-color: rgb(214, 132, 0);
}

/* 셀렉트 */
.create-group-form-select-small {
  width: 110px;
  height: 40px;
  padding: 6px 12px;
  border: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.create-group-form-select-small:focus {
  border: 1px solid rgb(243, 156, 18);
}
.create-group-form-select {
  width: 170px;
  height: 40px;
  padding: 6px 12px;
  border: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.create-group-form-select:focus {
  border: 1px solid rgb(243, 156, 18);
}
.create-group-info-wrap {
  margin-top: 12px;
  border-radius: 8px;
  overflow: hidden;
}

.create-group-info-table-item {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 4px 0;
}
.create-group-info-table-item + .create-group-info-table-item {
  border-top: 1px solid #ccc;
}
.create-group-info-table-item-label {
  height: 100%;
  display: flex;
  padding: 0 8px;
  width: 100px;
}
.create-group-info-table-item-content {
  flex: 1;
  padding: 0 8px;
}

.certificate-input-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0 8px;
    padding: 4px 8px;
    
}
.create-group-half-wrap {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}
.create-group-form-age-wrap {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.create-group-form-term-wrap select + select {
  margin-left: 8px;
}
.create-group-form-certificate-wrap select + select {
  margin-top: 8px;
}
.map-wrap {
  margin-top: 8px;
}
#map {
  width: 100%;
  height: 300px;
}
.create-group-form-textarea {
  width: 100%;
  height: 250px;
  resize: none;
  border: 1px solid #ccc;
  outline: 0;
}
.create-group-form-textarea:focus {
  border: 1px solid rgb(243, 156, 18);
}
.create-group-button-wrap {
  display: flex;
  justify-content: center;
  gap: 0 8px;
  margin-top: 16px;
}
.create-group-cancel-button {
  width: 155px;
  height: 40px;
  font-size: 22px;
  border-radius: 4px;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(190, 190, 190);
  cursor: pointer;
}
.create-group-cancel-button:hover {
  background-color: rgb(226, 226, 226);
}
.create-group-cancel-button:active {
  background-color: rgb(114, 114, 114);
}
.create-group-button {
  width: 155px;
  height: 40px;
  font-size: 22px;
  border-radius: 4px;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(243, 156, 18);
  cursor: pointer;
}
.create-group-button:hover {
  background-color: rgb(251, 174, 51);
}
.create-group-button:active {
  background-color: rgb(214, 132, 0);
}

.certificate-file-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 4px 8px;
    background-color: rgb(243, 156, 18);
    font-size: 12px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.sign-up-add-image {
  display: none;
}

.certificate-add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: rgb(190, 190, 190);
  cursor: pointer;
  font-size: 25px;
  border-radius: 4px;
}

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
