.modakbul-sales-data {
  width: 50%;
  height: 1300px;

}


.modakbul-sales-data-graph {
  width: 600px;
  height: 500px;
  margin: auto;
  background: #f7f7f7;
}

.modakbul-sales-data-table {
    border: 0;
    margin: 50px auto;
    width: 600px;
}
.modakbul-sales-data-table td {
  width: 100px;
  padding: 15px 0;
}

.table-header {
  text-align: center;
  background: lightgray;
}

table {
  border-collapse: collapse;
}

tr td:first-child {
  text-align: center;
}