.wrap {
  margin: 0 auto;
  width: 1200px;
  overflow: auto;
  margin-bottom: 30px
}
/* header {
  padding: 24px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
} */
.header-logo {
  display: flex;
  align-items: center;
  gap: 0 4px;
}
.header-title {
  font-weight: bold;
  font-size: 30px;
  color: rgb(243, 156, 18);
}
.nav-wrap {
  display: flex;
  gap: 0 80px;
  font-weight: bold;
  font-size: 30px;
}
.icon-button-wrap {
  display: flex;
  gap: 8px;
}
.icon-button {
  cursor: pointer;
}
/* .main-banner-wrap {
  height: 210px;
  background-color: indianred;
} */
.featured-list-wrap {
  margin-top: 64px;
}
.list-header {
  display: flex;
}
.list-title {
  font-weight: bold;
  font-size: 32px;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  gap: 32px 48px;
  margin-bottom: 100px;
}
.list-card {
  width: 264px;
}
.list-image-wrap {
  position: relative;
  height: 170px;
  overflow: hidden;
}
.list-card-like {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
}
.list-card-title {
  margin-top: 16px;
  font-weight: bold;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.new-list-wrap {
  margin-top: 80px;
}

 
.search-list {
  margin-top: 32px;
}
.search-list-top {
  padding-left: 200px;
}
.search-list-main-filter {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.search-list-main-filter-wrap {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
.search-list-main-filter-item {
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: bold;
  font-size: 24px;
  color: rgb(127, 127, 127);
}
.search-list-main-filter-item.selected {
  color: black;
}
.search-list-main {
  flex-grow: 1;
}
.search-list-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 24px;
}

.search-list-body {
  display: flex;
  gap: 40px;
  margin-top: 12px;
}
.search-list-sub-filter {
  flex-shrink: 0;
  width: 160px;
}
.search-list-sub-filter > * + * {
  margin-top: 24px;
}
.search-list-filter-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(243, 156, 18);
  border-radius: 4px;
  cursor: pointer;
}
.search-list-filter-item:hover {
  background-color: rgb(251, 174, 51);
}
.search-list-filter-item:active {
  background-color: rgb(214, 132, 0);
}
.search-list-filter-item.selected {
  background-color: rgb(243, 156, 18);
  color: white;
  font-weight: 700;
}
.search-list-filter-item + .search-list-filter-item {
  margin-top: 4px;
}

.search-list-result-wrap > article + article {
  margin-top: 18px;
}
.search-list-result-item {
  display: flex;
  height: 200px;
  width: 1000px;
  background-color: rgb(215, 215, 215);
}
.search-list-result-item-info {
  padding: 18px 24px;
  width: 700px;
}
.search-list-result-item-info > * + * {
  margin-top: 8px;
}
.search-list-result-item-image-wrap {
  flex-shrink: 0;
  width: 230px;
  height: 100%;

}
.search-list-result-item-title {
  height: 72px;
  font-size: 30px;
  font-weight: bold;
}
.search-list-result-item-text {
  font-size: 18px;
}
.search-list-result-item-date {
  display: flex;
  justify-content: space-between;
}

 .search-member-list-result-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}
.search-member-list-result-item {
  background-color: white;
}
.search-member-list-result-item-image-wrap {
  width: 120px;
  height: 120px;
 /*  background-color: red; */
  border-radius: 50%;
  overflow: hidden;
}
.search-member-list-result-item-member-name {
  margin-top: 24px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.inquiry-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}
.inquiry-title {
  font-weight: bold;
  font-size: 32px;
}
.inquiry-button-wrap {
  display: flex;
  gap: 0 8px;
}
.inquiry-search-area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 24px 0;
  border-top: 1px solid black;
}
.inquiry-search-wrap {
  display: flex;
  gap: 0 4px;
}
.search-inquiry-list-result-wrap {
}
.search-inquiry-list {
  border-top: 1px solid black;
}

.search-inquiry-list-expand-button {
  display: flex;
  align-items: center;
  gap: 0 16px;
  width: 100%;
  height: 70px;
  padding: 0 24px;
  cursor: pointer;
  border-bottom: 1px solid black;
}
.search-inquiry-list-expand-button-title {
  flex: 1;
  width:800px;
}
/*?*/
.search-inquiry-list-expand-button-question-icon {
  width: 22px;
  height: 22px;
  
}
.search-inquiry-list-expand-button-expand-icon {
  width: 28px;
  height: 28px;
  margin-right :45px;
}
.search-inquiry-reply-wrap {
  display: flex;
  padding: 24px;
  gap: 0 16px;
  background-color: rgb(224, 224, 224);
}
.search-inquiry-reply {
  width: 845px;
}
/*!*/
.search-inquiry-list-expand-button-result-icon {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  
}
.table {
  width: 100%;
  vertical-align: middle;
  border-collapse: collapse;
}
.table td,
.table th {
  text-align: center;
  height: 70px;
}
.table-header {
  background-color: #eaeaea;
  border-bottom: 1px solid #d0d0d0;
}
.table-body {
  font-size: 13px;
}
.table-row + .table-row {
  border-top: 1px solid #d0d0d0;
}
/* select */
.select-small {
  width: 150px;
  height: 40px;
  padding: 6px 12px;
  border: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.select-small:focus {
  border: 1px solid rgb(243, 156, 18);
}
/* button */
.search-list-button {
  flex-shrink: 0;
  height: 40px;
  padding: 4px 8px;
  background-color: rgb(243, 156, 18);
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.search-list-button:hover {
  background-color: rgb(251, 174, 51);
}
.search-list-button:active {
  background-color: rgb(214, 132, 0);
}

/* input */
.inquiry-input {
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  border: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.inquiry-input:focus {
  border: 1px solid rgb(243, 156, 18);
}

/* paging*/


.pagination-container {
   margin: 100px auto;
   text-align: center;
}

.pagination {
   position: relative;
}

.pagination a {
   position: relative;
   display: inline-block;
   color: #2c3e50;
   text-decoration: none;
   font-size: 1.2rem;
   padding: 8px 16px 10px;
}

.pagination a:before {
   z-index: -1;
   position: absolute;
   height: 100%;
   width: 100%;
   content: "";
   top: 0;
   left: 0;
   background-color:  rgb(214, 132, 0);
   border-radius: 24px;
   -webkit-transform: scale(0);
   transform: scale(0);
   transition: all 0.2s;
}

.pagination a:hover, .pagination a .pagination-active {
   color: #fff;
}

.pagination a:hover:before, .pagination a .pagination-active:before {
   -webkit-transform: scale(1);
   transform: scale(1);
}

.pagination .pagination-active {
   color: #fff;
}

.pagination .pagination-active:before {
   -webkit-transform: scale(1);
   transform: scale(1);
}

.pagination-newer {
   margin-right: 50px;
}

.pagination-older {
   margin-left: 50px;
}

/**noticeDetail*/
.notice-list-title {
  font-weight: bold;
  font-size: 32px;
}

.notice-list-info-wrap{
   display: flex;
}
.notice-list-info{
   width:130px;
   font-size: 20px;
}
.notice-list-content-wrap{
   padding-top:30px;
   
}
.notice-list-content{
   width : 800px;
   height : 300px;
   border: solid lightgray 0.5px;
}
.modal-button-wrap{
   padding-top:30px;
}
.modal-button-list {
  flex-shrink: 0;
  height: 40px;
  padding: 4px 8px;
  background-color: rgb(243, 156, 18);
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.modal-button-list:hover {
  background-color: rgb(251, 174, 51);
}
.modal-button-list:active {
  background-color: rgb(214, 132, 0);
}
/*password confirm*/
.password-wrap{
   border-bottom: 1px solid #d0d0d0;
}
.password-inner-wrap{
   border-top: 1px solid #d0d0d0;
   padding-top: 20px;
   padding-bottom: 20px;
}
.password-required-comment{
   padding-top: 10px;
   padding-bottom: 10px;
}
.password-form{
   width:200px;
   height: 30px;   
}
.password-form-button{
     flex-shrink: 0;
  height: 40px;
  padding: 4px 8px;
  background-color: rgb(243, 156, 18);
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  margin-left: 20px;
}
.password-form-button:hover {
  background-color: rgb(251, 174, 51);
}
.password-form-button:active {
  background-color: rgb(214, 132, 0);
}

/***/
.create-group-info-table-item-label{
   margin-top: 20px;
   font-weight: bold;
     font-size: 25px;
}
.create-group-form-input{
   margin-top:10px;
   width : 230px;
   height : 30px;
   border: solid lightgray 0.5px;
}
.create-group-form-textarea{
   margin-top:10px;
   width : 800px;
   height : 300px;
   border: solid lightgray 0.5px;
}
.create-group-form-input-temp{
   margin-top:10px;
   width : 150px;
   height : 30px;
   border: solid lightgray 0.5px;
}
.create-group-button {
  margin-top: 30px;
  flex-shrink: 0;
  height: 40px;
  padding: 4px 8px;
  background-color: rgb(243, 156, 18);
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.create-group-button:hover {
  background-color: rgb(251, 174, 51);
}
.create-group-button:active {
  background-color: rgb(214, 132, 0);
}
.create-group-cancel-button{
 margin-left: 20px;
  flex-shrink: 0;
  height: 40px;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.insert-question-button{
   margin-right: 30px;
   margin-top:10px;
  flex-shrink: 0;
  height: 40px;
  padding: 4px 8px;
  background-color: rgb(243, 156, 18);
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.search {
  position: relative;
  width: 200px;
 
}

.place {
  position: relative;
  width: 200px;

}

#search-text {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 16px;
}

#place-search{
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 16px;
}

#search-btn{
 position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 12px;
    margin: 0;
}
#place-search-btn {
  position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 12px;
    margin: 0;
}

.my-page-button {
  height: 40px;
  padding: 4px 8px;
  background-color: #5ba857;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  margin-left: -200px;
  width: 160px;
  font-family: Arial, KOTRA_BOLD-Bold, sans-serif;
}

.my-page-button:hover {
	background-color:  #009900;
}

.modal-wrap {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgb(0 0 0 / 23%) 3px 3px 8px 0px;
  z-index: 5;
  border-radius: 10px;

}
.modal-input-wrap {
  display: flex;
  gap: 0 20px;
  align-items: center;
  justify-content: space-between;
}
.modal-input-wrap + .modal-input-wrap {
  margin-top: 12px;
}
.modal-input-label {
  font-size: 16px;
}
.modal-input {
  width: 250px;
  height: 40px;
  padding: 6px 12px;
  border: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-id-result {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: rgb(52, 73, 94);
  text-decoration: underline;
}
.modal-button-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.modal-button {
  height: 45px;
  padding: 0 16px;
  font-size: 18px;
  border-radius: 4px;
}
.modal-text {
  font-size: 16px;
}
.cancel-button {
  color: rgb(0, 0, 0);
  background-color: rgb(224, 224, 224);
}

.sign-up-agency-button {
  width: 155px;
  height: 65px;
  font-size: 22px;
  border-radius: 4px;
  border: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(190, 190, 190);
  cursor: pointer;
}
.sign-up-agency-button:hover {
  background-color: rgb(226, 226, 226);
}
.sign-up-agency-button:active {
  background-color: rgb(114, 114, 114);
}

.sign-up-individual-button {
  width: 155px;
  height: 65px;
  font-size: 22px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgb(243, 156, 18);
}
.sign-up-individual-button:hover {
  background-color: rgb(251, 174, 51);
}
.sign-up-individual-button:active {
  background-color: rgb(214, 132, 0);
}

.sign-up-image{
	width: 100%;
	height: 100%;
}

a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration: none;}